<app-header></app-header>

<h1>C̵̠̦̗͉̙̩͓̎̋͐̌̓̓̓̊͘͠ͅI̸̖͉͜͝B̶͎͚̠̼͖̟͈̖̌̓͂L̴̂͋͐̊̍͜͝͝E̸̢̡͔͓͈͇̼͍̎̈́̍͒̓̽͘ͅŚ̵̘̪̾͂̔̀ͅ ̴̢̳̳̱̃͊̍͌̕Ṗ̴̨̳̦̘͕̼̾͆R̸͉̈́I̵̭͚̜̗̾̈̎̓̀͠O̴̹̺̱̻͎͆̃̈́̎͠Ȓ̷̝̿̀͐̑̾̅̕͠Ḯ̷̡͓͕̭̤͍͂̊̑͆͐̓͜T̵̡̔͊̑͛Ą̴̘͖̺͎̥̈́͐̃͜I̵̦̫̭̜͓̓̆́̓͌͠R̶͈̬̖̤͈̋̒E̴̡̪̖̿̓̌̽̒̈́͗̏S̵̼̗̹̟̐͂͆̑̎̄</h1>
<div class="teamContainer">
    <div class="userContainer">
        <img src="assets/img/coline.png" alt="Coline" />
        <div>CHD-180200</div>
        <div>Dit "Coline"</div>
        <div>Date d'élimination : <span class="dateAsap">ASAP</span></div>
        <div>Malgré sa petite taille, cette individue ne doit pas être prise à la légère. Lieutenant colonel du Premier Régiment d'Infanterie des Pionniers Caravelles de Lens, elle peut déployer une armée complète en un rien de temps. Durant ses nombreuses années passées à l'armée, elle a affiné ses connaissances dans le domaine médical. Elle est capable d'administrer à son adversaire une dose assez puissante de n'importe quel anesthésiant pour que celui-ci ne se réveille jamais et tout<sup>13</sup> cela en seulement 10 millièmes de secondes. Individue à éliminer au plus vite.</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/max.png" alt="Maxime" />
        <div>ML-301098</div>
        <div>Dit "Maxime"</div>
        <div>Date d'élimination : <span class="dateAsap">ASAP</span></div>
        <div>Médecin, cuisinier, animateur, unificateur, l'individu ML-301098 est le parfait couteau-suisse à avoir avec soi. Ses techniques de combat sont les plus diverses au monde<sup>15</sup> : il peut empoisonner, sectionnné une artère mortelle, rassembler toute une équipe sous ses ordres et bien d'autres pour arriver à ses fins. C'est un vrai danger, il faut le faire disparaitre en premier.</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/chloe.png" alt="chloé" />
        <div>CL-060897</div>
        <div>Dit "Chloé"</div>
        <div>Date d'élimination : <span class="dateAsap">ASAP</span></div>
        <div>Cuisinière et gestionnaire hors pair, véritable moteur de l'équipe, l'individue peut préparer un plat empoisonné et compter le<sup>14</sup> nombre de sardines par tente dans le même temps. Ses capacités de faire plusieurs choses à la fois, en font une adversaire de taille. Elle est aussi d'une éloquence exceptionnelle et peut rallier très facilement n'importe qui à sa cause. Individue à surveiller de près.</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/julie.png" alt="Julie" />
        <div>JK-280900</div>
        <div>Dit "Julie"</div>
        <div>Date d'élimination : <span class="dateAsap">ASAP</span></div>
        <div>Originaire de l'Europe de l'Est, ancienne hackeuse du KGB polonais, cette individue est une menace sérieuse. Elle ne doit pas être laissé avec un ordinateur à portée de main. Après ses années passées dans les services de sécurité intérieure, l'individue s'est installé dans le Larzac, où elle élève perroquets et chèvres pour en faire de vrais machines de guerre. Son autre atout : sa voix, elle est capable de casser les tympans de quiconque se trouvant dans un rayon de 10km autour de sa position, simplement en ouvrant la bouche.</div>
    </div>
</div>

<h1>A̶͎̞̼͈̒̒͊͌̿̀̕U̷͎͈̙͇̬̔̋͝T̶̹͉̮͚̖̾̂̐͘͘͝R̶̛̫͛̋͝E̶̢̦̰̦͚̲̙̱̻͇͌̓̾̄Ş̸̟̗͇̻͒͗̇ ̶̢̻̟̜̫̐͒̿̿̀̈́̄͘͜C̸̫̲͍̹̱̑Ị̸̟̩̬̮̥̬̞̭͒̊̆̌̒̈́͛͝B̶̢͓͚͈̺̓͂͒̔̂͑̀̄̕L̷̻̔̅͐̊̑E̶̺̎͗͊̓̑̂̐̊̋͠S̷̢̳̿ͅ</h1>

<br/>
<br/>
<br/>
<br/>

<h2>L̸̥͗̊̎͌͜Ë̴̹̟̦̪̖̘̜̝̺́Ş̴̨̫̱̳̿̆̉̒͋̓̚͝͝ ̷͍̗̯̤͑́̿̌̾͒͌͂G̵̺͎̍͂̂A̴̙̬̼̪͒̔̎͌̈͘R̸̙̼̪̟̱̰̭̐̈́̇̏̚͝C̸̡̡̹̞̞̑̍̒̉͐̕O̴̳̬̍̾͗N̴̨̛̥͚͎̯̜̩̞̺̍̄́̐S̴̡̢͕̲͍̩͇͙̝̓̽̓̀̉̑͑͜͝</h2>
<div class="teamContainer">
    <div class="userContainer">
        <img src="assets/img/alexis.png" alt="Alexis" />
        <div>AB-270207</div>
        <div>Dit "Alexis"</div>
        <div>Date d'élimination : 31/08/2024</div>
        <div>L'individu est particulièrement vorace. Il devient violent lorsqu'il n'est pas nourri suffisamment. Toujours en compagnie de l'individu JL-290907, leurs techniques de combat sont redoutables. Il faudra se montrer prudent le jour venu.</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/jules.jpeg" alt="Jules" />
        <div>JL-290907</div>
        <div>Dit "Jules"</div>
        <div>Date d'élimination : 31/08/2024</div>
        <div>L'individu semble étrangement attiré par les sources de lumière. Il masque son odeur corporelle en s'imprénant de la fumée du feu de bois. Toujours en compagnie de l'individu AB-270207, leurs techniques de combat sont redoutables. Il faudra se montrer prudent le jour venu.
            <br/>coffre<sup>4</sup>
        </div>
    </div>

    <div class="userContainer">
        <img src="assets/img/geraud.png" alt="Géraud" />
        <div>GV-191107</div>
        <div>Dit "Géraud"</div>
        <div>Date d'élimination : 31/08/2024</div>
        <div>L'individu est un expert de la survie en milieu hostile. Il manie la hache et la scie à la perfection et semble se perfectionner sur d'autres armes comprenant ciseaux à bois, plane, tarrière, maillet et pelle<sup>22</sup>. Cet individu est particulièrement dangereux. A éliminer de toute urgence.</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/clement.png" alt="Clément" />
        <div>CL-011007</div>
        <div>Dit "Clément"</div>
        <div>Date d'élimination : 31/08/2024</div>
        <div>Sportif de haut niveau, capable de sprinter à plus de 50km/h, il peut éviter n'<sup>18</sup>importe quelle attaque en une fraction de seconde. Toutefois, sa vision nocturne est son plus gros handicap, d'après nos renseignements, l'individu s'est déjà pris les pieds plusieurs fois dans des tendeurs de tente alors qu'il se baladait tranquillement la nuit. Ce désavantage pourrait courir à sa perte.</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/cab.png" alt="Cab" />
        <div>CL-210107</div>
        <div>Dit "Cabestaing"</div>
        <div>Date d'élimination : 31/08/2024</div>
        <div>Grand maître des armées, l'individu a su montrer son courage et sa détermination lors de précédentes batailles. Victorieux de la Grande Bataille de Cirey-sur-Blaise, opposant les habitants de Lens et Béthune, il a su se montrer héroïque en fédérant ses troupes pour les conduire à la victoire. Cet individu est à surveiller de près.
            <br/>vous<sup>9</sup>
        </div>
    </div>

    <div class="userContainer">
        <img src="assets/img/dimitri.png" alt="Dimitri" />
        <div>DL-081208</div>
        <div>Dit "Dimitri"</div>
        <div>Date d'élimination : 31/08/2025</div>
        <div>Dernier d'une longue lignée de chasseurs alpins il a perfectionné une méthode secrète pour tuer ses ennemis grâce à son rire puissant. D'une force surhumaine, il peut déplacer des montagnes d'un simple geste de la main. Pour autant, l'individu ne semble pas<sup>20</sup> être un danger immédiat.
            <br/>ouvrir<sup>2</sup>
        </div>
    </div>
</div>

<h2>L̸̡͙̆͒̈́Ẹ̷͆̄̏̂͆̿͒͠S̷̡̮̜̻͉̜͋̍̉̐͝ ̸̡̤̝̈́I̸̭̥̍͐N̴̙̂͠Ţ̵̨̪̪͓͒̚Ŗ̸̳̞̟̳̺͖̥͎̋Ḗ̴͔̬͂̃̈̃̐̚P̵̪͖̳̏̀̆͌͆̕Ị̸̹͕̙̺͕̘̝̖͓́̂̍͝D̸͙̼͑́Ẽ̵͔̉̏ͅṢ̷̪́̓̍̅̑̔̉̕ <br/>aurez<sup>10</sup></h2>
<div class="teamContainer">
    <div class="userContainer">
        <img src="assets/img/apo.png" alt="Apo" />
        <div>AP-180707</div>
        <div>Dit "Apolline"</div>
        <div>Date d'élimination : 31/08/2024</div>
        <div>L'individue a une maitrise assez remarquable des ballons ronds et montre des capacités de visée hors norme. Elle forme un trio d'expertes avec les individues GD-250807 et RH-051107. Ses techniques de combat, combinées à celles de ses deux acolytes, en font une menace plus que réelle. Le seul moyen de les vaincre sera de les séparer. A éliminer le plus rapidement possible.</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/louised.png" alt="Louise" />
        <div>LD-110508</div>
        <div>Dit "Louise"</div>
        <div>Date d'élimination : 31/08/2025</div>
        <div>L'individue possède de grandes connaissances dans les domaines de la<sup>21</sup> communication et de la psychologie humaine. Elle peut retourner une situation à son avantage et<sup>5</sup> convertir ses pairs grâce à des arguments infaillibles pour gagner une bataille. Il faudra prendre toutes les précautions possibles le jour J.
            <br/>oubliez<sup>19</sup></div>
    </div>

    <div class="userContainer">
        <img src="assets/img/suzanne.jpeg" alt="Suzanne" />
        <div>SL-061209</div>
        <div>Dit "Suzanne"</div>
        <div>Date d'élimination : 31/08/2026</div>
        <div>L'<sup>7</sup>individue SL-061209 est p<sup>16</sup>lus que dangereuse. Grâce à ses nombreuses heures passées au Cours Florent, elle est capable de manipuler sa cible pour l'attendrir et la tuer froidement dans son dos. Malgré ça, l'individue n'est pas une menace à ce jour, ses techniques demandent à être améliorées.</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/gwen.png" alt="Gwen" />
        <div>GD-250807</div>
        <div>Dit "Gwendoline"</div>
        <div>Date d'élimination : 31/08/2024</div>
        <div>L'individue GD-250807 est particulièrement redouté dans le<sup>3</sup> milieu. Sa forme physique est exceptionnelle pour<sup>1</sup> son âge : endurance, puissance, dextérité, souplesse, vitesse et bien d'autres, elle coche toutes les cases du parfait adversaire. Elle forme un trio d'expertes avec les individues AD-180707 et RH-051107. Ses techniques de combat, combinées à celles de ses deux acolytes, en font une menace plus que réelle. Le seul moyen de les vaincre sera de les séparer. A éliminer le plus rapidement possible.</div>
    </div>
</div>

<h2>Ĺ̴̡̙͎̬̎͂̇̉̋̚͝ͅE̸̥͑̊̀̇͛S̷̝̖̈́̈́͂ ̷̡̧̬̫̮͈͇̪̠̙̽T̵̻̹͝͝E̵̱̯̼̳̞̺̲͌̊̐͌̆͘M̴̧̫̜͋͐͐̑͛̊̊͛̚Ḙ̷͚͔͉̟̬̩̝̓̅̇̂̿̚R̴̝͈̭͖̟̪̄̆ͅÂ̶̢͉̠̰̱̭͖͚͋̍͗͆̓́̎͋͠I̷̱̪͈̲͑́͜R̵̙͍̅͌̃̿̋͛͠ͅE̵̦̠̞̳̥̙͉̓͋͜Ș̴̇͒͠</h2>
<div class="teamContainer">
    <div class="userContainer">
        <img src="assets/img/eva.png" alt="Eva" />
        <div>EM-290508</div>
        <div>Dit "Eva"</div>
        <div>Date d'élimination : 31/08/2025</div>
        <div>Petite dernière d'une grande dynastie de chevaliers, l'individue s<sup>17</sup>e balade constamment avec son armure intégrale. Son arme fétiche : une paire de béquilles certies de diamants. Elle semble également être dotée de capacités magiques et serait, d'après nos informations, capable de créer une tornade en soufflant. Cependant, l'individue semble assez "faible", d'après nos recherches, elle est capable de se féler une côte simplement en respirant, ce qui pourrait expliquer l'armure intégrale qu'elle porte constamment.</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/emmaq.png" alt="Emma" />
        <div>EQ-160408</div>
        <div>Dit "Emma"</div>
        <div>Date d'élimination : 31/08/2025</div>
        <div>L'individue connait les réseaux sociaux comme personne. Les comptes de certaines personnalité célèbre, tel que Kim Kardashian ou Elon Musk, sont en réalité des personnages fictifs créés par cette manipulatrice hors pair pour influencer la Terre entière. Elle est capable d'orienter les élections d'un pays voir de renverser un gouvernement en un seul TikTok. Priorité absolue.
            <br/>conclure<sup>6</sup>
        </div>
    </div>

    <div class="userContainer">
        <img src="assets/img/isis.png" alt="Isis" />
        <div>IK-280108</div>
        <div>Dit "Isis"</div>
        <div>Date d'élimination : 31/08/2025</div>
        <div>Individue spécialiste du monde nippon, elle parle 23 dialectes japonais différents, et sait écrire plus de 2 million de Kanji les yeux bandés. 
            Elle possède également un endurance hors du commun, la légende raconte qu'elle a marché avant de<sup>12</sup> savoir parler. Elle a traversé le désert blanc du sultanat d'Oman à l'âge de 5 ans et demi, même Jésus n'en a pas fait autant. A éliminer rapidement.</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/maelyne.jpg" alt="Maëlyne" />
        <div>MP-181009</div>
        <div>Dit "Maëlyne"</div>
        <div>Date d'élimination : 31/08/2026</div>
        <div>Individue très mystérieuse. Aucune information précise reccueillie à ce jour. Toutes les enquêtes<sup>8</sup> menées jusqu'à aujourd'hui ont été vaines. Malheureusement, tous les agents ayant un jour croisé sa route ont été retrouvé mort les jours suivants sans qu'aucune trace n'ait été laissé. Il faudra faire attention à ne pas croiser sa route.</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/rachel.png" alt="Rachel" />
        <div>RH-051107</div>
        <div>Dit "Rachel"</div>
        <div>Date d'élimination : 31/08/2024</div>
        <div>L'individue RH-051107 possède une don hors du commun. Elle peut éliminer une cible d'un simple regard. Elle forme un trio d'expertes avec les individues GD-250807 et AD-180707. Ses techniques de combat, combinées à celles de ses deux acolytes, en font une menace plus que réelle. Le seul moyen de les vaincre sera de les séparer. A éliminer le plus rapidement possible.
            <br/>besoin<sup>11</sup>
        </div>
    </div>
</div>

<h1>C̶̩̠̹̈͑̀̄͋̔̔̃̓̚I̶̙̙͌̈ͅB̴̞̹̪̽ͅL̵̰͇͓̣͑̕E̷͙̰̟͇̣̯̽̒̒̀̍̄͜S̶̹̙͖̏͛͋̊́̚ ̸̺̲̝̤͖̘͕͔̓̽̈͆͒̀̏̓D̶̨̪̟̻̗̜̪̬͋̈́́͘ͅE̷͖̔́J̵̨̛͙͔̼͈̻̰̻̮̱̀͊Å̴̺̹̳̥͎̍͒̚͝͝ ̷̢̰̦̟͖̮̻̤͊̂̒̓E̵̢̺͙͍̱̒L̸̳͔͆͐̌̈́Į̷̹̥̔͌M̵̡̬̖̦̤͂̈́I̷̤͇͍̺̥͎͚̫̎̍̆͛̚̕N̶͍͐̊̓̏͗͋̌̿E̴̪̼̝̠̬͓͔̫̯͒́̔̑͋̌̚͜Ȇ̸͓̞̘͙̤̏S̷̖̫̦͔̼͕̻͜͝ͅͅ</h1>
<div class="teamContainer">
    <div class="userContainer">
        <img src="assets/img/agathe.png" alt="Agathe" />
        <div>AD-291209</div>
        <div>Dit "Agathe"</div>
        <div>Cible éliminée</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/juliette.png" alt="Juliette" />
        <div>JF-300809</div>
        <div>Dit "Juliette"</div>
        <div>Cible éliminée</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/louiseh.png" alt="Louise" />
        <div>LH-131008</div>
        <div>Dit "Louise"</div>
        <div>Cible éliminée</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/elise.png" alt="Elise" />
        <div>EM-120107</div>
        <div>Dit "Elise"</div>
        <div>Cible éliminée</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/emmap.png" alt="Emma" />
        <div>EP-250209</div>
        <div>Dit "Emma"</div>
        <div>Cible éliminée</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/pilou.png" alt="Pilou" />
        <div>PLP-090409</div>
        <div>Dit "Pilou"</div>
        <div>Cible éliminée</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/romane.jpg" alt="Romane" />
        <div>RR-230909</div>
        <div>Dit "Romane"</div>
        <div>Cible éliminée</div>
    </div>

    <div class="userContainer">
        <img src="assets/img/antoine.png" alt="Antoine" />
        <div>AV-150807</div>
        <div>Dit "Antoine"</div>
        <div>Cible éliminée</div>
    </div>
</div>